/* SET UP DEFAULT COLOR AND FONT */

body {
  background-color: #2f3439;
  color: #fffde8;
  font-family: 'Montserrat', sans-serif;
}

/* manipulate global size on different screen sizes */

@media (min-width: 769px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 768px) and (min-width: 451px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:450px) and (min-width:300px){
    html {
        font-size: 40%;
    }
}

@media (max-width:300px) {
    html {
        font-size: 30%;
    }
}

/* FIRST BLOCK - INTRODUCTION */

.name_flex {
	height: 100vh;
	background-color: #ff6347;
	display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.name {
	margin-top: 70px;
    font-size: 7rem;
	font-family: 'Montserrat Alternates', sans-serif;
}

.name_desc {
	margin: 50px 10px 0px 10px;
	font-size: 2.5rem;
}

/* contact link in description */

.name_desc a, .name_desc a:visited, .name_desc a:focus, .name_desc a:active .name_desc a:hover{
	color:#fffde8; 
	background-color:transparent; 
	text-decoration:none;
}

.name_desc_small {
	font-size: 1.5rem;
}

/* unicorn picture! */

.unicorn {
	width: 200px;
	height: 200px;
    border-radius: 50%;
    margin-bottom: -40px;
	margin-left: auto;
	margin-right: auto;
}

/* Hide unicorn for small heights */
@media screen and ( max-height: 600px ) {
    .unicorn {
        visibility:hidden;
    }
    .name_desc_small {
        visibility:hidden;
    }
    .name {
        margin-top: 120px;
    }
}


/* GLOBAL: CATEGORY AND SUBCATEGORY NAMES  */
 
.category {
	font-size: 5rem;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 100px 10px 0px 10px;
}

.subcategory {
	padding: 40px 10px 20px 10px;
	font-size: 3rem;
}

/* SKILLS BLOCK */

/* Containers for progress circles */

.skills {
    margin: 0px;
}

.progress_container {
	padding-bottom: 10px;
}

/* Elements of the Other section */

.other_skills_container {
	display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
}

.other_skill {
	border-radius: 5px;
    background: #ff6347;
	padding: 2px 10px;
	margin: 5px;
	flex-shrink: 0;
}

/* WORK BLOCK */

.work_title {
	padding-bottom: 40px;
}

.work_main {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.work h4 {
	font-size: 3rem;
}

.work h5 {
	font-size: 2rem;
	color: #97999c;
}

.work ul {
    font-family: 'Noto Sans', sans-serif ;
}

/* timeline drawn inside work_main container */
.line {
  background-image: 
	repeating-linear-gradient(-45deg, 
		#ff6347, #ff6347 10px, 
		#fffde8 10px, #fffde8 20px); 
    width: 15px;
 	left: 50%;
	height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    transform: translateX(-50%);
}


/* Flex container with all work elements - square work fields, dots, horizontal lines */
.work_flex {
	display: flex;
}

.work_flex_right {
	margin-top: -50px;
	display: flex;
	justify-content: flex-end;
}

.work_flex_left {
	margin-top: -50px;
	display: flex;
	justify-content: flex-start;
}

/* Outer flex container to arrange work text*/
.work_container {
	display: flex;
	width: 43%;
	margin: 0px;
    z-index: 20;
}
    
.work_container_left {
	padding: 0px 0px 0px 10px;
}

.work_container_right {
	padding: 0px 10px 0px 0px;
}

/* Container inside work_container that contains text */
.work {
	background-color: #fffde8;
	border: 5px solid #ff6347;
	border-radius: 5px;
	color: #2f3439;
	margin: 0px;
	padding: 5px;
}

/* Flex container that contains line*/
.line_container {
  display: flex; 
  width: 14%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

/* Circles on the timeline */
.work_circle {
    width: 50px;
	height: 50px;
    background: #ff6347;
	align-self: center;
	-webkit-align-self: center;
    margin: auto;
    text-align: center;
	line-height: 50px;
	font-size: 25px;
	font-family: 'Impact', sans-serif;
	color: #2f3439;
    z-index: 10;
}

/* line from circle to work container */

.work_line_left, .work_line_right {
	width: 200%;
	height: 5px;
    background: #ff6347;
	align-self: center;
	-webkit-align-self: center;
    margin-top: -25px;
}

.work_line_left {
    margin-left: -80px;
}

.work_line_right {
    margin-left: 25px;
}

/* move work containers to one side for small screens */
@media screen and (max-width: 768px) {
    
    .line_container {
      width: 14%;
    }   
    
    .line {
        left: 7%;
    }

	.work_flex_right, .work_flex_left {
		margin-top: 20px;
	}
	
    .work_container {
		width: 86%;
    }

	.work_container_left {
	    order: 99;
        -webkit-order: 99;
	    padding: 0px 10px 0px 0px;
	}
    
    .work_right {
	    margin: 0px 30px 40px 0px;
	}

	.work_line_left {
    margin-left: auto;
	}
}


@media screen and (min-width: 360px) {
    .work_circle  {
        border-radius: 25px;
        -webkit-border-radius: 25px;
    }
}

/* Styles for svg circles/arcs */

circle {
  fill: #fffde8;
}

path {
  fill: #ff6347;
}

text {
  font-family: 'Noto Sans', sans-serif ;
  font-size  : 16;
  fill       :#2f3439 ;
  stroke     :#2f3439 ;
  stroke-width: 0.5px;
}

svg.pie {
  width: 170px;
  height: 170px;
}


/* LATEST COURSES BLOCK */

.courses_flex {
    display: flex;
    margin: 20px 0px;
    justify-content: left;
}

.courses_flex:hover {
    background-color: #525a63;
}

.date_container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Impact', sans-serif;
    font-size  : 2.5rem;
    color: #828588;
    margin: 0px 20px;
    width: 10%;
    align-items: center;
}

.date_container p {
    margin: 0px;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_container {
    display: flex;
    align-items: center;
    width: 60%;
}

.course_click {
    display: flex;
    align-items: center;
    width: 100%;
}

.git_container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.btn {
    background:  #fffde8 !important;
    color: #2f3439  !important;
}

.btn:hover {
    background: #ff6347 !important;
    color: #fffde8  !important;
}

.course_logo {
	width: 50px;
	height: 50px;
    margin: 0px 20px;
}

.git_logo {
	width: 30px;
	height: 30px;
    margin: 0px 5px 0px 0px;
}

.course_text {
    display: flex;
    margin: 0px 20px;
    font-size: 15px;
    width: 100%;
}

.udacity_logo {
    border-radius: 50%;
}

.course_text a {
    display: block;
    width: 100%;
}

.course_text a:link, .course_text a:focus, .course_text a:visited, .course_text a:hover {
	color:#fffde8; 
	background-color:transparent; 
	text-decoration:none;
}

.course_text a:active {
	color:#ff6347; 
	background-color:transparent; 
	text-decoration:none;
}


@media screen and (max-width: 450px) {
    .date_container {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .git_logo {
        margin: 0px 0px 0px 0px;
    }
    .git_logo+span{
        display: none;

    }
}

/* CONTACTS BLOCK*/

.contacts_title {
	padding-bottom: 40px;
	padding-top: 50px;
}

.contacts_flex {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.contact_container {
    margin: 10px 20px;    
}

.contact {
    margin: 10px 10px;
 	border-radius: 5px;
	padding: 2px 10px 2px 0px;
	margin: 5px;
    background-color: #fffde8;
    color: #2f3439;
}

.contact a {
    display: flex;
    align-items: center
}
.fa {
    color: #ff6347;
    margin: 0px 10px 0px ;
}

.contact a, .contact a:visited, .contact a:focus, .contact a:active {
	color:#2f3439; 
	background-color:transparent; 
	text-decoration:none;
}

.contact a:hover {
	color:#ff6347; 
	background-color:transparent; 
	text-decoration:none;
}

@media screen and (max-width: 768px) {
    .contacts_flex{
        margin-top: -30px
    }
}

